<div class="col-md-2" style="padding-top:70px;">
	<div class="list-group">
	<a href="{{url_for('allusers')}}" class="list-group-item"><h5>All Users</h5></a>
	<a href="{{url_for('searchuser')}}" class="list-group-item"><h5>Search User</h5></a>
	<a href="{{url_for('allworkshops')}}" class="list-group-item"><h5>All Workshops</h5></a>
	<a href="{{url_for('allevents')}}" class="list-group-item"><h5>All Events</h5></a>
	<a href="{{url_for('regdesk')}}" class="list-group-item"><h5>Registration Desk</h5></a>
	</div>
</div>