
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Gamaya 2014 | Admin | All Events</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
  <!-- favicon -->
  <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/>
  <style>
  .jumbotron{
    padding: 0px;
  }
  </style>
</head>

<body style="padding-top: 70px;">

  <!-- Fixed navbar -->
  {% include 'navbar.html' %}



<!-- Main component for a primary marketing message or call to action -->
<div class="container">

{% include 'flash.html'%}
  <div class="row">
    {% include 'admin-sidebar.html' %}


    <div class="col-md-10">
      <h3>All Events:</h3>

      <div class="panel-group" id="accordion">
        {% for type in eventtypes %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" class="btn-block" data-parent="#accordion" href="#collapse{{type[0]}}">
                {{type[1]}}
              </a>
            </h4>
          </div>
          <div id="collapse{{type[0]}}" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="list-group">
                {% for event in events %}
                {% if event.department == type[0] %}

                <a href="{{url_for('event',eventid=event.id)}}" class="list-group-item">{{event.name}}<span class="badge">{{event.participants.all() | length }}</span></a>
                {% endif %}
                {% endfor %}         
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>


    </div>



  </div><!-- row -->
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
  </html>
